body{
  margin: 0;
}
.all{
  height:97vh;
  margin: 0;
  padding: 8px;
  background: url('../images/startingBackgroundImage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  /* overflow: hidden; */
}
.highlighted {
  /* padding: 5px 10px 5px 0; */
  background-color: #000000;
  border-radius: 10px;
  padding-left: 2px
}
.autocomplete-list{
  list-style-type: none;
  min-width: 400px;
  /* padding-left: 10px; */
  position: absolute;
  top: 56%;
  left: 0px;
  background-color: #2020202a;
  padding: 0.5vh 10px;
  backdrop-filter: blur(10px);
  z-index: 100;
  border-radius: 20px;
  cursor: pointer;
}
.input-search-dropdown-subdiv{
  position: relative
  
}
.input-city{
  min-width: 400px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
}
.input-search-dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;;
  /* margin: 0 auto; */
}
.input-button{
  
  display: flex;
}
.search-button{
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  cursor: pointer;
  color: white;
}
.search-button:hover{
  opacity: 0.8;
}
.region-wind{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  height: 550px;
  
}
.li{
  padding: 5px;
  cursor: pointer;
}
@media(max-width: 500px){
  .input-city{
    min-width: 200px;
  }
}
.body-divs{
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: auto 1fr ;
  gap: 40px;
}
@media(max-width: 684px){
  .body-divs{
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;

  }
  .all{
    height: 200vh;
        place-items: center;

  }
}